body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}


/* 投稿表示領域。中央からスタートにしてる */
#content {
    position: absolute;
    width: 10000px;
    height: 10000px;
    background-color: #f0f0f0;
    cursor: grab;
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
}

/* 中央表示投稿ボタン。画面を移動しても追尾*/
#addCommentButton {
    position: fixed;
    width: 60px;
    height: 60px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../../img/aim.png');
    background-size: cover;
    background-repeat: no-repeat; /* 画像重複削除 */
    border: none;
    cursor: pointer;
}


.comment {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



.post-container {
    border: 1px solid #ccc;
    width: 400px; 
    margin: 50px auto;
    padding: 10px;
    background-color: #fff; 
    position: absolute; 
}

.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    font-weight: bold;
}

.post-content {
    margin-bottom: 10px;
}

.post-content img {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.interaction {
    display: flex;
    align-items: center;
}

.comment-icon, .like-icon {
    margin-right: 5px;
}

.comment-count, .like-count {
    margin-right: 10px;
}
