body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 18px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.button {
    width: 250px;
    height: 60px;
    margin: 20px;
    font-size: 20px;
    border: none;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    background-color: #3498db;
    transition: background-color 0.3s ease;
}

.red {
    background-color: #e74c3c;
}

.yellow {
    background-color: #f1c40f;
}

.button:hover {
    background-color: #cacbd2;
}
