body {
    margin: 0px;
    padding: 0px;
}

.parent {
    margin: 32px 5vw;
}

.main-part {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.box-base {
    padding: 0px;
    margin: 4px;
    border: 1px black solid;
    height: 30vh;
}

.button-base {
    font-size: x-large;
	
    margin: 0px;
	padding: 8px;
	border: 1px solid black;
	border-radius: 5px;
	width: 12%;
	color: inherit;
	cursor: pointer;

	transition: all 0.1s;
}

.back { background: #c0c0c0;}
.proceed { background: #E4FF3F;}

.back:hover {
	background: rgb(72,72,72);
    color: white;
}
.proceed:hover {
	background: rgb(53, 50, 255);
    color: wheat;
}

.back:active {
	background: rgb(221, 222, 223);
	color: black;
}
.proceed:active {
	background: rgb(167, 167, 255);
	color: black;
}

.operation {
    display: flex;
    margin-top: 32px;
    justify-content: space-between;
}

.method {
    display: flex;
    padding: 0px;
    border: 0px;
    height: 30vh;
}

.title {
    display: flex;
    align-items: center;
    text-align: center;

    font-size: xx-large;
    font-weight: bold;
}

.image-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    height: 30vh;
    padding: 0px;
}

.content {
    resize: none;
}