.show-part {
    width: 72%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.details-part {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: left;
    height: 52vh;
}

.comments_area {
    border: 1px solid black;
    overflow-y: auto;
    height: 30vh;
}

.title-base {
    padding: 0;
    margin: 2px;
    height: 30vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 2em;
    font-weight: bold;
    height: 20vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    height: 20vh;
}

.edit {
    position: absolute;
    width: 90%;
    text-align: right;
    top: 6vh;
}

.comment-info {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.user {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 8px;
    flex-grow: 1;
}

.ellipsis {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
.image-box{
	width:auto;
	text-align:center;
}
.image{
	text-align:center;
    width: 500px;
    height: 250px;
}

.icon-image {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    border-radius: 50%;
}

.comment-box {
    border: 1px solid #ddd;
    padding: 8px;
    margin-top: 8px;
}

.comment-area {
    font-size: 1.5em;
    width: 63vw;
}

.parent {
    position: relative; /* 親要素を相対位置指定 */
}

.proceed {
    position: absolute; /* ボタンを絶対位置指定 */
    top: 0;
    left: 98%;
}

.comment-input{
    width: 100%;
}


@media (max-width: 768px) {
    .show-part {
        width: 90%;
    }
    .title {
        font-size: 1.5em;
    }
    .comment-area {
        width: 90%;
        font-size: 1.2em;
    }
}
.operation {
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 90%;
    justify-content: space-between;
    padding: 10px; /* 少し余白を追加 */
}

.comment-input {
    text-align: center;
    height: 50px;
    flex-grow: 1;
    margin: 0 20px; /* 左右に適度なマージンを追加 */
}

.button-base {
    font-size: x-large;
    width: 10%;
    height: 60px;
    border: 1px solid black;
    border-radius: 5px;
    color: inherit;
    cursor: pointer;
    transition: all 0.1s;
}

.back {
    margin-left: 10%;
}

.send {
    width: 12%;
    margin-left: 0; /* 追加のマージンを削除 */
}



.back { background: #C0C0C0 }
.proceed { background: #E4FF3F }
.send { background: #FBBA6D;}
.delete { background: #F46A6A }

.back:hover {
	background: #484848;
    color: white;
}
.proceed:hover {
	background: #3532FF;
    color: wheat;
}
.send:hover {
	background: #6D87FB;
    color: wheat;
}
.delete:hover { 
    background: #202020;
    color: #F46A6A;
}

.back:active {
	background: #DDDDDD;
	color: black;
}
.proceed:active {
	background: #C7C6FF;
	color: black;
}
.send:active {
	background: #ACBBFF;
	color: black;
}
.delete:active { 
    background: #FFCFCF;
    color: black;
}