.show-part {
    width: 72%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.details-part {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: left;
    height: 52vh;
}

.comments {
    border: 1px solid black;
    overflow-y: auto;
    height: 30vh; /* スクロール可能にするための高さ設定 */
}

.title-base {
    padding: 0;
    margin: 2px;
    height: auto;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: xx-large;
    font-weight: bold;
    height: 20vh;
}

.content {
    border: 1px solid black;
    height: 20vh;
    padding: 10px;
}

.edit {
    position: absolute;
    width: 90%;
    text-align: right;
    top: 6vh;
}

.comment-info {
    padding: 16px;
    border-bottom: 1px solid #ccc; /* 各コメントの下に境界線を追加 */
}

.user {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 8px;
}

.options-button {
    background: none;
    border: none;
    font-size: large;
    margin-left: auto; /* 名前の右側に配置 */
}

.icon-image {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    border-radius: 50%;
}

.comment-box {
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 8px;
}

.comment-area {
    font-size: x-large;
    width: 63vw;
}

/* メディアクエリを追加してレスポンシブデザインを強化 */
@media (max-width: 768px) {
    .show-part {
        width: 90%;
    }
    .title {
        font-size: 1.5em;
    }
    .comment-area {
        width: 90%;
        font-size: 1.2em;
    }
}
