.show-part {
    width: 72%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.details-part {
    display: flex;
    overflow-y: auto;
    flex-direction: column;
    justify-content: left;
    height: 52vh;
}

.comments_area {
    border: 1px solid black;
    overflow-y: auto;
    height: 30vh;
}

.title-base {
    padding: 0;
    margin: 2px;
    height: 30vh;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 2em;
    font-weight: bold;
    height: 20vh;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    font-size: 1em;
    font-weight: bold;
    height: 20vh;
}

.edit {
    position: absolute;
    width: 90%;
    text-align: right;
    top: 6vh;
}

.comment-info {
    padding: 16px;
    border-bottom: 1px solid #ddd;
}

.user {
    display: flex;
    align-items: center;
}

.username {
    margin-left: 8px;
    flex-grow: 1;
}

.ellipsis {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}

.icon-image {
    width: 64px;
    height: 64px;
    border: 1px solid black;
    border-radius: 50%;
}

.comment-box {
    border: 1px solid #ddd;
    padding: 8px;
    margin-top: 8px;
}

.comment-area {
    font-size: 1.5em;
    width: 63vw;
}

.parent {
    position: relative; /* 親要素を相対位置指定 */
}

.proceed {
    position: absolute; /* ボタンを絶対位置指定 */
    top: 0;
    left: 98%;
}

.comment-input{
    width: 100%;
}


@media (max-width: 768px) {
    .show-part {
        width: 90%;
    }
    .title {
        font-size: 1.5em;
    }
    .comment-area {
        width: 90%;
        font-size: 1.2em;
    }
}


/* 余裕あれば下との余白を作りたい */
.back{
    bottom:10px;
}

.comment-input{
    bottom: 10px;
}

.send{
    bottom: 10px;
}