body{
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0; 
}

.main {
  width: 100%;
  max-width: 700px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.title {
    display: flex;
    align-items: center;
    margin-left: 2cm;
    margin-top: 50px;
  }

  p {
    text-align: center;
  }

.column.is-offset-one-quarter{
  margin-right: 150px;
}

  .table{
    margin: auto;
  }

  tbody,tr,th,td {
    border: 1px solid #ccc;
}