.title {
    display: flex;
    align-items: center;
    margin-left: 2cm;
    /* text-indent: 0.8em; 
    font-weight: bold; 
    margin-left: 30px;
    margin-top:14px;
    margin-bottom:14px; */
  }

  .add-button {
    margin-right: auto;
  }

.left-column {
    margin-top:auto;
    margin-left: 2cm;
}

.right-column {
    display: block;
    margin-left: auto;
    margin-right: 5em;
    margin-top: 2em;
}